
[Unit]
Description=A reddit bot for PathOfExile that krangles various items

[Service]
EnvironmentFile=/srv/krangler_bot/.env
WorkingDirectory=/srv/krangler_bot
ExecStart=/usr/bin/npm prod
Restart=always
RestartSec=15
User=kranglebot
Type=simple

[Install]
WantedBy=multi-user.target
